aside {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column; /* 縦並びにする */
    justify-content: flex-start; /* 上から下に並べる */
}
aside a {
    margin-bottom: 20px; /* アイテムの間隔 */
}