/* パスワード変更ページのみに適用 */
.password-change-container {
    width: 50%;
    margin: 80px auto 50px; /* ヘッダーの高さを考慮 */
    padding: 20px;
}

/* パスワード変更ページ内のリンク */
.password-change-container .back-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.password-change-container .title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 入力フォーム */
.password-change-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-change-container label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.password-change-container input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-change-container button {
    background-color: #E86848;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-change-container button:hover {
    background-color: #D1573F;
}

/* エラーメッセージ */
.password-change-container .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* 成功メッセージ */
.password-change-container .success-message {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}
